<H1 CLASS="BIS"> BARANGAY INFORMATION SYSTEM </H1>
<H6 CLASS="FPII"> FINAL PROJECT IN ITEC205 </H6>

<DIV class="slide-up1">
	<BR><BR><BR><P>CLARK DAVID CATLE</P>
</DIV>

<DIV class="slide-up2">
	<BR><BR><BR><P>IAN THEODORE MALOLES</P>
</DIV>

<DIV class="slide-up3">
	<BR><BR><BR><P>JOHN CARLO MISA</P>
</DIV>

<DIV class="slide-up4">
	<BR><BR><BR><P>LAWRENCE BAUSTISTA</P>
</DIV>

<DIV class="slide-up5">
	<BR><BR><BR><P>PRINCE DARRELL MASA</P>
</DIV>