<HTML>
<HEAD>
	<STYLE>
		* {
			MARGIN: 0;
			PADDING: 0
		}

		HEADER {
			BACKGROUND-COLOR: gray;
			HEIGHT: 10%;
			BACKGROUND-SIZE: COVER
		}

		.LOGO {
			POSITION: ABSOLUTE;
			TOP: 7PX;
			LEFT: 30PX
		}

		/* BODY {
			BACKGROUND-IMAGE: LINEAR-GRADIENT(RGBA(0,0,0,0.4),RGBA(0,0,0,0.1)),URL(Brgy_home_page.JPG);
			BACKGROUND-SIZE: COVER
		} */

		.MAIN-NAV {
			FLOAT: LEFT;
			LIST-STYLE: NONE;
			MARGIN-LEFT: 100PX;
			MARGIN-TOP: 80PX
		}

			.MAIN-NAV LI {
				DISPLAY: INLINE-BLOCK;
			}

		.NAVIGATORS {
			POSITION: ABSOLUTE;
			BOTTOM: 94%
		}

		.MAIN-NAV LI A {
			COLOR: WHITE;
			TEXT-DECORATION: NONE;
			PADDING: 5PX 40PX;
			FONT-FAMILY: CAMBRIA;
			TRANSITION: .4S EASE-IN-OUT
		}

		/* .MAIN-NAV LI.PRIVACY A {
			COLOR: YELLOW
		}

		UL A:HOVER {
			COLOR: YELLOW
		} */

		DIV.PS H1 {
			TEXT-ALIGN: CENTER
		}

		DIV.PS P {
			WIDTH: 350PX;
			POSITION: ABSOLUTE;
			LEFT: 50%;
			TOP: 50%;
			transform: translate(-50%, -50%);
		}

		.PS {
			FONT-FAMILY: Consolas;
			FONT-SIZE: 10PX;
			WIDTH: 400px;
			TEXT-ALIGN: JUSTIFY
		}


		DIV.PS {
			BACKGROUND-COLOR: RGBA(.4, .4, .4, .4);
			COLOR: GRAY;
			WIDTH: 500PX;
			HEIGHT: 400PX;
			border-radius: 25px;
			POSITION: ABSOLUTE;
			LEFT: 50%;
			TOP: 50%;
			transform: translate(-50%, -50%);
		}
	</STYLE>
</HEAD>

<BODY>
	<DIV CLASS="PS">
		<br />
		<H1 CLASS="PP">PRIVACY POLICY</H1>
		<br />
		<br />
		<P> Effective as of Decemebr 25, 2023, our Barangay Information System is committed to ensuring the privacy and security of your personal information. We collect various types of data, including personal information, usage details, and device information, to enhance the functionality and security of our System. This information is used for system operation, communication, security monitoring, and legal compliance. We do not sell or trade your personal information to third parties without your consent, except as required by law or for the operation of the System. Your choices are respected, allowing you to request access, correction, or deletion of your personal information and opt-out of promotional communications. While we implement security measures, we cannot guarantee absolute security in electronic transmissions. This Privacy Policy may be updated to reflect changes in information practices. For any questions or concerns, please contact us at [Your Contact Information]. By using our Barangay Information System, you agree to the terms outlined in this Privacy Policy.</P>
	</DIV>
</BODY>
</HTML>